{
    "semi": true,
    "singleQuote": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "trailingComma": "none",
    "printWidth": 100,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "endOfLine": "lf"
}